*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.time{
    font-size: 32px;
}

.stopwatch, .timer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px
}

.stopwatch{
    background-color: #00B1d2ff; 
}

.timer{
    background-color: #fddb27ff;
}

.stopwatch h2, .timer h2{
    text-transform: capitalize;
}

.button{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 700;
    border: none;
    width: 100px;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
}


.button.random-button{
    background-color: #0f790f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}

.button.random-button:hover{
    background-color: #063d06;
}

.button.time-button{
    background-color: #00B1d2ff;
}

.button.time-button:hover{
    background-color: #005f70;
}

.button.stopwatch-button{
    background-color: #fddb27ff;
    color: #000000;
}

.button.stopwatch-button:hover{
    background-color: #ac8f01;
}

.buttons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}